mixin equipsmixin(equip)
    div
        h2
            a(href=`/equip/${equip.id}`)=equip.name 
        h4 자산등록코드 : #{equip.code}
        p=equip.description 
        ul 
            each hashtag in equip.hashtags
                li=hashtag
        small=equip.createAt
        hr
            