extends base

block content
    div#videoContainer(data-Id=equips._id)
        video(src='/' + equips.fileUrl)
        div#videoControls 
            button#play Play
            button#mute Mute
            input(type="range", min="0", max="1", step="0.1", value=0.5)#volume
            div
                span#currenTime 00:00
                span  / 
                span#totalTime 00:00
            div 
                input(type="range", min="0", step="1", value=0)#timeline
            div 
                button#fullScreen Enter Full Screen

    //-
        h3=equips.code
        h4=equips.description 
        ul
            li=equips.manufacturer 
            li=equips.place 
            li=equips.hashtags 
            li #{equips.meta.views} #{equips.meta.views === 1 ? "view" : "views"}
        p 
            small=equips.createAt
        div
            small Uploaded by 
                a(href=`/users/${equips.owner._id}`) #{equips.owner.name}
        if loggedInUser
            if String(equips.owner._id) === String(loggedInUser._id)
                a(href=`${equips.id}/edit`) Edit Equip &rarr;
                br
                a(href=`${equips.id}/delete`) Delete Equip &rarr;

block scripts 
    script(src="/static/js/videoPlayer.js")
    