extends base

block content
    video(src='/' + equips.fileUrl, controls)
    div 
        button#play Play
        button#mute Mute
        span#time 00:00/00:00
        input(type="range", min="0", max="1", step="0.1", value=0.5)#volume

    //-
        h3=equips.code
        h4=equips.description 
        ul
            li=equips.manufacturer 
            li=equips.place 
            li=equips.hashtags 
            li #{equips.meta.views} #{equips.meta.views === 1 ? "view" : "views"}
        p 
            small=equips.createAt
        div
            small Uploaded by 
                a(href=`/users/${equips.owner._id}`) #{equips.owner.name}
        if loggedInUser
            if String(equips.owner._id) === String(loggedInUser._id)
                a(href=`${equips.id}/edit`) Edit Equip &rarr;
                br
                a(href=`${equips.id}/delete`) Delete Equip &rarr;

block scripts 
    script(src="/static/js/videoPlayer.js")